:root {
	--blackish-color: #283618;
	--coper-color: #bc6c25;
	--light-coper-color: #dda15e;
	--whitish-color: #fefae0;
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	line-height: 1.5;

	font-family:
		system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: var(--blackish-color);

	background-color: var(--whitish-color);

	position: relative;
}

button {
	font: inherit;
	background-color: inherit;
}

header {
	position: sticky;
	top: 0;
}

nav {
	width: 100vw;
	padding: 5px 0;
	background-color: var(--light-coper-color);

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.nav-btn {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;

	cursor: pointer;
}

nav button:hover {
	background-color: var(--coper-color);
}

.hovering {
	color: var(--whitish-color);
	background-color: var(--coper-color);
}

#content {
	margin: auto;
	padding: 0 20px;
	max-width: 800px;
}

h1,
p {
	text-align: center;
}

h1.home,
h1.about {
	margin: 40px 0;
}

p.home {
	margin: 20px 0;
}

h1.menu {
	margin: 20px 0;
}

#food-list {
	display: grid;
	grid-template: 350px / repeat(3, 200px);
	justify-content: space-between;
	gap: 10px;
}

.food-snippet {
	background-color: var(--light-coper-color);
}

.food-snippet:hover {
	color: var(--whitish-color);
	cursor: pointer;

	background-color: var(--coper-color);
}

.food-image {
	width: 200px;
	aspect-ratio: 2/3;
}

.food-info {
	padding: 10px;
}
