:root {
	--blackish-color: #283618;
	--whitish-color: #fefae0;
	--light-coper-color: #dda15e;
	--coper-color: #bc6c25;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	min-height: 100vh;
	line-height: 1.5;
	background-color: var(--whitish-color);

	font-family:
		system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: var(--blackish-color);
}

button {
	font: inherit;
}

nav {
	width: 100vw;
	padding: 5px 0;
	background-color: var(--light-coper-color);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.nav-btn {
	padding: 10px 20px;
	background-color: inherit;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

nav button:hover {
	background-color: var(--coper-color);
}

.hovering {
	background-color: var(--coper-color);
	color: var(--whitish-color);
}

#content {
	margin: auto;
	padding: 20px;
	max-width: 800px;
}

h1,
p {
	text-align: center;
}

h1.home {
	margin: 40px 0;
}

p.home {
	margin: 20px 0;
}
